.nav{
    background-color: #030303;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    .links{
        display: flex;
        gap: 20px;
        align-items: center;
        .link{
            color: white;
            font-weight: bold;
            text-decoration: none;
        }
    }

}